<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dafy.octopus.worker.order.mapper.BillOpLogMapper" >
  <resultMap id="BaseResultMap" type="com.dafy.octopus.worker.order.dto.BillOpLog" >
    <id column="ID" property="id" jdbcType="BIGINT" />
    <result column="BILL_ID" property="billId" jdbcType="BIGINT" />
    <result column="DEAL_TYPE" property="dealType" jdbcType="BIGINT" />
    <result column="USER_ID" property="userId" jdbcType="BIGINT" />
    <result column="USER_DEPT_ID" property="userDeptId" jdbcType="BIGINT" />
    <result column="NEXT_DEAL" property="nextDeal" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, BILL_ID, DEAL_TYPE, USER_ID, USER_DEPT_ID, NEXT_DEAL, CREATE_TIME
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from T_BILL_OP_LOG
    where ID = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectByBillId" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select * from T_BILL_OP_LOG where BILL_ID=#{billId} order by create_time desc
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from T_BILL_OP_LOG
    where ID = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.dafy.octopus.worker.order.dto.BillOpLog" >
    insert into T_BILL_OP_LOG (ID, BILL_ID, DEAL_TYPE, 
      USER_ID, USER_DEPT_ID, NEXT_DEAL, 
      CREATE_TIME)
    values (#{id,jdbcType=BIGINT}, #{billId,jdbcType=BIGINT}, #{dealType,jdbcType=BIGINT}, 
      #{userId,jdbcType=BIGINT}, #{userDeptId,jdbcType=BIGINT}, #{nextDeal,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.dafy.octopus.worker.order.dto.BillOpLog" >
    insert into T_BILL_OP_LOG
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="billId != null" >
        BILL_ID,
      </if>
      <if test="dealType != null" >
        DEAL_TYPE,
      </if>
      <if test="userId != null" >
        USER_ID,
      </if>
      <if test="userDeptId != null" >
        USER_DEPT_ID,
      </if>
      <if test="nextDeal != null" >
        NEXT_DEAL,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="billId != null" >
        #{billId,jdbcType=BIGINT},
      </if>
      <if test="dealType != null" >
        #{dealType,jdbcType=BIGINT},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="userDeptId != null" >
        #{userDeptId,jdbcType=BIGINT},
      </if>
      <if test="nextDeal != null" >
        #{nextDeal,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.dafy.octopus.worker.order.dto.BillOpLog" >
    update T_BILL_OP_LOG
    <set >
      <if test="billId != null" >
        BILL_ID = #{billId,jdbcType=BIGINT},
      </if>
      <if test="dealType != null" >
        DEAL_TYPE = #{dealType,jdbcType=BIGINT},
      </if>
      <if test="userId != null" >
        USER_ID = #{userId,jdbcType=BIGINT},
      </if>
      <if test="userDeptId != null" >
        USER_DEPT_ID = #{userDeptId,jdbcType=BIGINT},
      </if>
      <if test="nextDeal != null" >
        NEXT_DEAL = #{nextDeal,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dafy.octopus.worker.order.dto.BillOpLog" >
    update T_BILL_OP_LOG
    set BILL_ID = #{billId,jdbcType=BIGINT},
      DEAL_TYPE = #{dealType,jdbcType=BIGINT},
      USER_ID = #{userId,jdbcType=BIGINT},
      USER_DEPT_ID = #{userDeptId,jdbcType=BIGINT},
      NEXT_DEAL = #{nextDeal,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=BIGINT}
  </update>
</mapper>