<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dafy.octopus.worker.order.mapper.BillRemarkMapper" >
  <resultMap id="BaseResultMap" type="com.dafy.octopus.worker.order.dto.BillRemark" >
    <id column="ID" property="id" jdbcType="BIGINT" />
    <result column="BILL_ID" property="billId" jdbcType="BIGINT" />
    <result column="USER_ID" property="userId" jdbcType="BIGINT" />
    <result column="REMARK" property="remark" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, BILL_ID, USER_ID, REMARK, CREATE_TIME
  </sql>
  <select id="selectByBillId" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select * from T_BILL_REMARK br where br.BILL_ID=#{billId} order by create_time
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from T_BILL_REMARK
    where ID = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from T_BILL_REMARK
    where ID = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.dafy.octopus.worker.order.dto.BillRemark" >
    insert into T_BILL_REMARK (ID, BILL_ID, USER_ID, 
      REMARK, CREATE_TIME)
    values (#{id,jdbcType=BIGINT}, #{billId,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT}, 
      #{remark,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.dafy.octopus.worker.order.dto.BillRemark" >
    insert into T_BILL_REMARK
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="billId != null" >
        BILL_ID,
      </if>
      <if test="userId != null" >
        USER_ID,
      </if>
      <if test="remark != null" >
        REMARK,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="billId != null" >
        #{billId,jdbcType=BIGINT},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.dafy.octopus.worker.order.dto.BillRemark" >
    update T_BILL_REMARK
    <set >
      <if test="billId != null" >
        BILL_ID = #{billId,jdbcType=BIGINT},
      </if>
      <if test="userId != null" >
        USER_ID = #{userId,jdbcType=BIGINT},
      </if>
      <if test="remark != null" >
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dafy.octopus.worker.order.dto.BillRemark" >
    update T_BILL_REMARK
    set BILL_ID = #{billId,jdbcType=BIGINT},
      USER_ID = #{userId,jdbcType=BIGINT},
      REMARK = #{remark,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=BIGINT}
  </update>
</mapper>