<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dafy.octopus.worker.order.mapper.BillTypeMapper" >
  <resultMap id="BaseResultMap" type="com.dafy.octopus.worker.order.dto.BillType" >
    <id column="ID" property="id" jdbcType="BIGINT" />
    <result column="CODE" property="code" jdbcType="VARCHAR" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="STATUS" property="status" jdbcType="CHAR" />
    <result column="ORDER" property="order" jdbcType="CHAR" />
    <result column="DESC" property="desc" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, CODE, `NAME`, STATUS, `ORDER`, `DESC`, CREATE_TIME
  </sql>
  <select id="findAll" resultMap="BaseResultMap" parameterType="java.lang.Boolean">
    select * from T_BILL_TYPE
     <where>
       <if test="all == false">
         `status`='0'
       </if>
     </where>
    order by `order`
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from T_BILL_TYPE
    where ID = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from T_BILL_TYPE
    where ID = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.dafy.octopus.worker.order.dto.BillType" >
    insert into T_BILL_TYPE (ID, CODE, `NAME`,
      STATUS, `ORDER`, `DESC`, CREATE_TIME
      )
    values (#{id,jdbcType=BIGINT}, #{code,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{status,jdbcType=CHAR}, #{order,jdbcType=CHAR}, #{desc,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.dafy.octopus.worker.order.dto.BillType" >
    insert into T_BILL_TYPE
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="code != null" >
        CODE,
      </if>
      <if test="name != null" >
        `NAME`,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
      <if test="order != null" >
        `ORDER`,
      </if>
      <if test="desc != null" >
        `DESC`,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="code != null" >
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=CHAR},
      </if>
      <if test="order != null" >
        #{order,jdbcType=CHAR},
      </if>
      <if test="desc != null" >
        #{desc,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.dafy.octopus.worker.order.dto.BillType" >
    update T_BILL_TYPE
    <set >
      <if test="code != null" >
        CODE = #{code,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        `NAME` = #{name,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=CHAR},
      </if>
      <if test="order != null" >
        `ORDER` = #{order,jdbcType=CHAR},
      </if>
      <if test="desc != null" >
        `DESC` = #{desc,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dafy.octopus.worker.order.dto.BillType" >
    update T_BILL_TYPE
    set CODE = #{code,jdbcType=VARCHAR},
      `NAME` = #{name,jdbcType=VARCHAR},
      STATUS = #{status,jdbcType=CHAR},
      `ORDER` = #{order,jdbcType=CHAR},
      `DESC` = #{desc,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=BIGINT}
  </update>
</mapper>